.headerSections {
  background-color: #FFFEA9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.navbar-collapse {
  padding-left: 5%;
}

.nav-item a {
  display: inline-block;
  padding: 10px 30px;
  font-size: 26px;
  margin: 0 10px;
  transition: 0.5s ease all;
  color: green;
  text-decoration: none;
}

.nav-item a:hover {
  transform: translateY(18px);
  background-color: #eae993;
  color: green;
}

#boton-carrito {
  border: none;
  color: green;
  font-size: 40px;
  background-color: white;
  border-radius: 50%;
  padding: 10px 20px;
  transition: all 0.3s;
}

#boton-carrito:hover {
  cursor: pointer;
  color: white;
  background-color: green;
}

#boton-carrito:focus {
  outline: none;
}

.mainHeader {
  background-color: #CC9544;
  padding-bottom: 50px;
}

.bodyHeader {
  background: #a77934;
}

.nosotros {
  margin-bottom: 60px;
}

.subtitulo {
  font-size: 20px;
  color: black;
  font-family: "Noto Serif", serif;
  font-weight: 700;
  z-index: 2;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subtitulo span {
  background: linear-gradient(to right, #1a880b, #033d02);
  padding: 0 15px;
  z-index: 99;
  position: relative;
}

.subtitulo::after {
  content: "";
  display: inline-block;
  height: 2px;
  width: 100%;
  background: black;
  position: relative;
  top: -29px;
  z-index: 1;
}

.nosotros .titulo {
  width: 70%;
  font-size: 44px;
  display: inline-block;
  margin-bottom: 50px;
}

.productos {
  background: #a77934;
  padding: 20px;
  margin-bottom: 60px;
}

.productos .titulo {
  width: 70%;
  font-size: 44px;
  display: inline-block;
  margin-bottom: 50px;
}

.productos .btn-productos {
  cursor: pointer;
  background: transparent;
  position: relative;
  display: inline-block;
  padding: 7px 20px;
  outline: none;
  border: 2px solid #0f0;
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: none;
  letter-spacing: 2px;
  color: black;
  -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
  transition: 0.45s;
  transition-delay: 0s;
}

.productos .btn-productos:hover {
  transition-delay: 1.5s;
  color: #000;
  box-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 40px #0f0, 0 0 80px #0f0, 0 0 100px #0f0;
}

.productos .btn-productos span {
  position: relative;
  z-index: 100;
}

.productos .btn-productos::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #0f0;
  box-shadow: 5px -8px 0 #0f0, 5px 8px 0 #0f0;
  transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 1s, 0.5s, 0s, 0s;
}

.productos .btn-productos:hover::before {
  width: 60%;
  height: 100%;
  /* right: -2px; */
  left: -2px;
  box-shadow: 5px 0 0 #0f0, 5px 0 0 #0f0;
  transition-delay: 0s, 0.5s, 1s, 1s;
}

.productos .btn-productos::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #0f0;
  box-shadow: -5px -8px 0 #0f0, -5px 8px 0 #0f0;
  transition: width 0.5s, right 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 1s, 0.5s, 0s, 0s;
}

.productos .btn-productos:hover::after {
  width: 60%;
  height: 102%;
  right: -2px;
  box-shadow: -5px 0 0 #0f0, -5px 0 0 #0f0;
  transition-delay: 0s, 0.5s, 1s, 1s;
}

.separador {
  width: 100%;
  height: 250px;
  background-image: url("../../img/paisaje.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 60px;
}

.separador p {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-family: "Noto Serif", serif;
  padding: 10px;
}

.acerca-de {
  margin-bottom: 60px;
}

.mainContainer {
  background-color: #CC9544;
  padding: 25px 0 120px 0;
}

.field {
  margin-bottom: 10px;
}

.field input {
  display: block;
  min-width: 250px;
  line-height: 1.5;
  font-size: 14px;
}

#button {
  background: linear-gradient(to right, #1a880b, #033d02);
  color: white;
  font-size: 15px;
  font-weight: 700;
  padding: 7px;
  border: none;
}

img {
  width: 100%;
  margin-bottom: 10px;
}

.nuestrosProductos {
  background-color: #CC9544;
  padding: 25px 0 25px 0;
}

#contenedor-productos {
  background-color: #CC9544;
  max-width: 1800px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.producto {
  max-width: 20%;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}

.precioProducto {
  font-weight: 700;
}

.boton-agregar {
  background: linear-gradient(to right, #1a880b, #033d02);
  color: white;
  font-size: 15px;
  font-weight: 700;
  padding: 7px;
  border: none;
}

.boton-agregar:hover {
  cursor: pointer;
}

.boton-agregar:focus {
  outline: none;
}

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}

.modal-active {
  opacity: 1;
  visibility: visible;
}

.modal-carrito {
  position: relative;
  background-color: white;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all 0.5s;
}

.modal-active .modal-carrito {
  margin-top: 0;
}

.modal-carrito h3 {
  color: green;
  padding-bottom: 5px;
}

.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: green;
  border: none;
  background-color: white;
}

.modal-carrito #carritoCerrar:hover {
  cursor: pointer;
}

.modal-carrito #carritoCerrar:focus {
  outline: none;
}

.modal-carrito .precioProducto {
  padding-top: 10px;
}

.productoEnCarrito {
  border-left: 5px solid green;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.productoEnCarrito:hover {
  border-left: 5px solid green;
}

.boton-eliminar {
  background-color: white;
  color: red;
  border: none;
  font-size: 20px;
}

.boton-eliminar:hover {
  cursor: pointer;
}

.boton-eliminar:focus {
  outline: none;
}

.logoFixed {
  position: fixed;
  bottom: 0%;
  right: 1%;
  list-style-type: none;
}

/*# sourceMappingURL=style.css.map */
