@media (max-width: 440px){
    .navbar-toggler{
    position: absolute;
    top: 15%;
    right: 12%;
    }
}

@media (max-width: 700px){
#contenedor-productos{
    max-width: 700px;
}

.producto{
    max-width: 100%;
}
}